.jumbotron { 
background-color: #3498DB;
color: white;
margin-top: 40px; 
}

.productos { 
color: Blue; 
}

a { 
color: blue; 
}
.footer { 
padding: 10px 10px 0 10px;
background-color: yellow;
color: blue; 
margin-bottom: 0px;
margin-top: 10px;
}

.card-hotel {
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
}

.btn-reserva{
	width: 100%;
	/*border-radius: 0px;*/
}
.footer-address-icon{
	padding-right: 10px;
	
}

.tab-content{
	padding-top: 10px;
}
