.jumbotron {
  background-color: #3498DB;
  color: white;
  margin-top: 40px;
  margin-bottom: 0px;
}
.productos {
  color: Blue;
}
a {
  color: blue;
}
.footer {
  padding: 10px 10px 0 10px;
  background-color: #fff0b3;
  color: #0033cc;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  /*border-radius: 0px;*/
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
