@yellow: #ffffcc;
@blue: #0033cc;

.margenes(@top, @bottom){
	margin-top: @top;
	margin-bottom: @bottom; 
}

.jumbotron { 
background-color: #3498DB;
color: white;
.margenes(40px, 0px);
}

.productos { 
color: Blue; 
}

a { 
color: blue; 
}
.footer { 
padding: 10px 10px 0 10px;
background-color: @yellow;
color: @blue; 
.margenes(10px, 0px);

}

.card-hotel {
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	.margenes(10px, 0px);
	
}

.btn-reserva{
	width: 100%;
	/*border-radius: 0px;*/
}
.footer-address-icon{
	padding-right: 10px;
	
}

.tab-content{
	padding-top: 10px;
}
