$yellow: #ffff99;
$verde: #00cc00;
$rojo: #ff6666;
@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom; 
}

.jumbotron { 
background-color: #3498DB;
color: white;
@include margenes(40px, 0px);
}

.productos { 
color: Blue; 
}

a { 
color: $verde; 
}
.footer { 
padding: 10px 10px 0 10px;
background-color: $yellow;
color: $verde; 
@include margenes(10px, 0px);

}

.card-hotel {
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	@include margenes(10px, 0px);
	
}

.btn-reserva{
	width: 100%;
	/*border-radius: 0px;*/
}
.footer-address-icon{
	padding-right: 10px;
	
}

.tab-content{
	padding-top: 10px;
}
